/* 基础样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '微软雅黑';
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

li {
  list-style: none;

}

a {
  text-decoration: none;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 30px;
  font-weight: normal;
}